<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Dev Tech Solutions</title>
      </head>
      <body>
        <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">&#9776;</button>
                <a href="index.html">Dev Tech Solutions</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>

        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMemu()">x</button>
            <ul>
                <li>
                    <a href="index.html">Pants</a>
                </li>
                <li>
                    <a href="index.html">Shirts</a>
                </li>
            </ul>
       </aside>

       <main>
        <div class="content">
            <ul class="products">
                <li>
                    
                    <div class="products">
                        <img class="product-image" src="images/d1.jpg" alt="product" />
                        <ul>
                        <li><div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div></li>
                        <li> <div class="product-brand">Nike</div> </li>
                        <li> <div class="product-price">$60</div> </li>
                        <li> <div class="product-rating">4.5 Stars (10 Reviews)</div> </li>

                       </ul>
                    </div>
                   
                </li>
                <li>
                    <div class="products">
                        <img class="product-image" src="images/d1.jpg" alt="product" />
                        <ul>
                        <li><div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div></li>
                        <li> <div class="product-brand">Nike</div> </li>
                        <li> <div class="product-price">$60</div> </li>
                        <li> <div class="product-rating">4.5 Stars (10 Reviews)</div> </li>

                       </ul>
                    </div>
                </li>
                <li>
                    <div class="products">
                        <img class="product-image" src="images/d1.jpg" alt="product" />
                        <ul>
                        <li><div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div></li>
                        <li> <div class="product-brand">Nike</div> </li>
                        <li> <div class="product-price">$60</div> </li>
                        <li> <div class="product-rating">4.5 Stars (10 Reviews)</div> </li>

                       </ul>
                    </div>
                </li>
                <li>
                    <div class="products">
                        <img class="product-image" src="images/d1.jpg" alt="product" />
                        <ul>
                        <li><div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div></li>
                        <li> <div class="product-brand">Nike</div> </li>
                        <li> <div class="product-price">$60</div> </li>
                        <li> <div class="product-rating">4.5 Stars (10 Reviews)</div> </li>

                       </ul>
                    </div>
                </li>
                <li>
                    <div class="products">
                        <img class="product-image" src="images/d1.jpg" alt="product" />
                        <ul>
                        <li><div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div></li>
                        <li> <div class="product-brand">Nike</div> </li>
                        <li> <div class="product-price">$60</div> </li>
                        <li> <div class="product-rating">4.5 Stars (10 Reviews)</div> </li>

                       </ul>
                    </div>
                </li>
                <li>
                    <div class="products">
                        <img class="product-image" src="images/d1.jpg" alt="product" />
                        <ul>
                        <li><div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div></li>
                        <li> <div class="product-brand">Nike</div> </li>
                        <li> <div class="product-price">$60</div> </li>
                        <li> <div class="product-rating">4.5 Stars (10 Reviews)</div> </li>

                       </ul>
                    </div>
                </li>
            </ul>

        </div>
       
       </main>
    <footer> 
        &copy; 2024 Dev Tech Solutions 
    </footer>
        
    </div>      
    </body>
    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
        }
        function closeMemu() {
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
    </html>
    
